﻿@using CarDealer.Models.ViewModels

@model VehicleModelVM

<form method="post">

	<input hidden asp-for="VehicleModel.Id"/>

	<div class="border p-3 mt-4">
		<div class="row pb-2">

			<h2 class="text-primary">@(Model.VehicleModel.Id == 0 ? "Create" : "Update") Model</h2>
			
		</div>
	</div>

	<div class="border p=3 mt-4">
		<div class=" mb-3">
			<label asp-for="VehicleModel.Name" class="p=0"></label>
			<input asp-for="VehicleModel.Name" type="text" class="form-control"/>
			<span asp-validation-for="VehicleModel.Name" class="text-danger"></span>
		
		</div>

		<div class="mb-3">
			<label asp-for="VehicleModel.MakeId" class="p-0"></label>
			<select asp-for="VehicleModel.MakeId" asp-items="@Model.MakeList" class="form-select">
				<option disabled selected > --- Select Make ---</option>

			</select>
			<span asp-validation-for="VehicleModel.MakeId" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Save</button>
		<a asp-area="Admin" asp-controller="VehicleModel" asp-action="Index" style="width:150px" class="btn btn-secondary">Return to list</a>

	</div> 

</form>